In [10]:
import pandas as pd
import numpy as np

stats = pd.read_csv(r'G:\My Drive\05. Project\02. 2021-2022 PL Transfer\output\ratings_vs_tfee.csv')
stats.head()

,Unnamed: 0,player,value,Unnamed: 0.1,index,club_name,age,position,club_involved_name,fee,...,fee_cleaned,league_name,year,season,player_id,Squad,Normal,Scaled,Normalized,total
0,0,Aaron Ramsdale,0.345500,92,22294,Arsenal FC,23.0,Goalkeeper,Sheff Utd,€28.00m,...,28.00,Premier League,2021,2021/2022,79,Arsenal FC,3,12,0.300,0.645500
1,1,Adam Armstrong,0.114010,141,22676,Southampton FC,24.0,Centre-Forward,Blackburn,€17.70m,...,17.70,Premier League,2021,2021/2022,69,Southampton FC,0,9,0.224,0.338010
2,2,Albert Sambi Lokonga,0.142379,94,22296,Arsenal FC,21.0,Central Midfield,RSC Anderlecht,€17.50m,...,17.50,Premier League,2021,2021/2022,66,Arsenal FC,3,12,0.300,0.442379
3,3,Alphonse Areola,0.010888,157,22771,West Ham United,28.0,Goalkeeper,Paris SG,Loan fee:€2.00m,...,2.00,Premier League,2021,2021/2022,10,West Ham United,-1,8,0.200,0.210888
4,4,Angus Gunn,0.098278,137,22631,Norwich City,25.0,Goalkeeper,Southampton,€5.85m,...,5.85,Premier League,2021,2021/2022,31,Norwich City,-9,0,0.000,0.098278

In [12]:
club_stats = stats.groupby(['club_name'])['total'].mean().to_frame().reset_index()
club_stats = club_stats.sort_values(by=['total'], 
                          ascending=[False])
club_stats

                  club_name     total
3    Brighton & Hove Albion  0.715928
18  Wolverhampton Wanderers  0.594726
0                Arsenal FC  0.559079
11          Manchester City  0.530250
6            Crystal Palace  0.524552
13         Newcastle United  0.470070
2              Brentford FC  0.397332
10             Liverpool FC  0.381620
17          West Ham United  0.379966
12        Manchester United  0.370668
5                Chelsea FC  0.369220
15           Southampton FC  0.368034
7                Everton FC  0.351070
1               Aston Villa  0.304300
9            Leicester City  0.273010
8              Leeds United  0.230488
16               Watford FC  0.228362
4                Burnley FC  0.194381
14             Norwich City  0.177452

In [14]:
club_stats.to_csv("club_ratings.csv", index=False)